body{
    background: linear-gradient(#0f227e,#1933a7);
    color:white;
}
body {
      margin: 0;
      font-family: Arial, sans-serif;
    }

    /* Barra de publicidad */
    .ad-bar {
      background: #ffcc00;
      color: #000;
      text-align: center;
      padding: 12px;
      font-weight: bold;
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 9999;
    }

    /* Para que el contenido no quede tapado */
    .content {
      margin-top: 60px;
      padding: 20px;
    }

    .ad-bar a {
      color: blue;
      text-decoration: underline;
      margin-left: 10px;
    }
    